
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#audios {
    width: 100%;
    height: 100vh;
    background-image: url("../img/back.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#audios h1 {
    color: #fc0;
    text-shadow: 1px 1px 10px #000;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: 500;
}

#container-audios {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.audio {
    width: 100px;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    border: 3px solid #fff;
    background: #0009;
    cursor: pointer;
    text-transform: uppercase;
}